// FOOTER MOBILE FIRST
footer{
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
        
    }

    h2{
        font-family: "shrikhand" ;
        color: white;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 15px;
    }

    ul{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .hand{
                margin-right: 30px;
            }
        }
      
        li{
            margin-bottom: 8px;
            
            .link__bold{
                font-weight: bold;
            }
            .list__link{
                color: white;
                font-size: 16px;
                
                
                .fa-utensils{
                    font-size: 13px;
                    margin-right: 7px;
                }
                .fa-handshake-angle{
                    font-size: 12px;
                    margin-right: 3px;
                }
            }
        }
    }
}