header{
    background-color: $white-bc;
    @include flexmid;
    padding-top: 20px;
    padding-bottom: 15px;
    nav{
        @include flexmid;
        
        // .nav__arrow-left{
        //     display: none;
        // }
        img{
            width: 200px;
        }
    }
}