// RESTAURANTS CARD

    .restaurants__card{
        position: relative;
        width: 100%;
        height: 250px;
        background-color: white;
        border-radius: 15px;
        @media screen and (min-width: 1024px) {
            width: 490px;
        }
        .new{
                    
            &::before{
                content: "Nouveau";
                position: absolute;
                background-color: $tertiaire;
                font-size: 14px;
                padding: 6px 10px;
                color: darken($color: $tertiaire, $amount: 40);
                border-radius: 2px ;
                right: 17px;
                top: 13px;
            }
        }
            color: black;
            h3{
                font-size: 18px;
                font-weight: bold;
            }
            img{
                border-radius: 15px 15px 0 0 ;
                object-fit: cover;
                height: 65%;
                width: 100%;
            }
            .card-content{
                display: flex;
                flex-direction: row ;
                align-items: center;
                justify-content: space-between;
                height: 35%;
                padding-left: 15px;
                padding-right: 25px;
                
                .card-title{
                    margin-bottom: 5px;
                }
                .fa-heart{
                    font-size: 25px;
                    
                }
            }
        }
    
