// BUTTON LIKE VERSON HOVERheart animation //

.card-heart{
  position: relative;

  .fa-heart{
          font-size: 25px;             
          color: black;
          cursor: pointer;
          position: absolute;
          top: -14px;
          right: 0px;
        }

  .bg{
    opacity: 0;
    transition: all 500ms ease-in-out;
    background: $gradient-base;
    background: -webkit-$gradient-base ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    &:hover {
      animation: heartbg ;
      opacity: 1;
     
    }
  }
}


// BUTTON LIKE VERSION CLICK  //

// .like{
//   display: block;
//  color: black;
//  cursor: pointer;
//  .fa-solid{
//   display: none;
//   font-size: 25px;
//  }
//  .fa-regular{
//   font-size: 25px;
//  }
// }

// input[type="checkbox"] {
//   display: none;
//   &[type="checkbox"]:checked + .like {
    
//     background: $gradient-heart;
//     background: -webkit-$gradient-heart ;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent; 
    
//     .fa-solid{
//       display: block;
      
//     }
//     .fa-regular{
//       display: none;
//     }
//   }
// }