// BUTTON LIKE VERSON HOVERheart animation //
// .fa-heart{
//     font-size: 25px;             
//         color: black;
//         cursor: pointer;
      
//       &:hover {
//         animation: fill 0.3s ease-in-out;
//         display: inline-block;
//         opacity: 1;
//         background: $gradient-base;
//         background: -webkit-$gradient-base ;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         font-weight: bold;
//       }
// }

// BUTTON LIKE VERSION CLICK  //

.like{
  display: block;
 color: black;
 cursor: pointer;
 .fa-solid{
  display: none;
 }
}

input[type="checkbox"] {
  display: none;
  &[type="checkbox"]:checked + .like {
    
    background: $gradient-heart;
    background: -webkit-$gradient-heart ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    .fa-solid{
      display: block;
    }
    .fa-regular{
      display: none;
    }
  }
}