@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes heartbg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-animation {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkedmeal {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}
@keyframes iconcheck {
  from {
    transform: rotate(0turn) scale(0);
  }
  to {
    transform: rotate(1turn) scale(1);
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ul,
dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe,
hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

img {
  object-fit: cover;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #F6F6F6;
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.bc-lightgrey {
  background-color: #F6F6F6;
}

.bc-middlegrey {
  background-color: #EAEAEA;
}

.bc-darkgrey {
  background-color: #353535;
}

.bc-white {
  background-color: #FFFFFF;
}

.restaurants__card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
@media screen and (min-width: 1024px) {
  .restaurants__card {
    width: 490px;
  }
}
.restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: 13px;
}
.restaurants__card h3 {
  font-size: 18px;
  font-weight: bold;
}
.restaurants__card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 65%;
  width: 100%;
}
.restaurants__card .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  padding-left: 15px;
  padding-right: 25px;
}
.restaurants__card .card-content .card-title {
  margin-bottom: 5px;
}
.restaurants__card .card-content .fa-heart {
  font-size: 25px;
}

.reservation__btn {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 25px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: opacity 400ms ease-out;
}
.reservation__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
}

.command-btn {
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: opacity 400ms ease-out;
  font-weight: normal;
  padding: 16px 43px;
  cursor: pointer;
}
.command-btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
}

.card-heart {
  position: relative;
}
.card-heart .fa-heart {
  font-size: 25px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: -14px;
  right: 0px;
}
.card-heart .bg {
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  background: -webkit- linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-heart .bg:hover {
  animation: heartbg;
  opacity: 1;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: -135px;
}

header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
header .arrow-left {
  position: absolute;
  left: 10px;
  top: 20px;
}
header .arrow-left i {
  font-size: 24px;
  font-weight: bold;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav img {
  width: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
  }
}
footer h2 {
  font-family: "shrikhand";
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
footer ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
    gap: 10px;
  }
  footer ul .hand {
    margin-right: 30px;
  }
}
footer ul li {
  margin-bottom: 8px;
}
footer ul li .link__bold {
  font-weight: bold;
}
footer ul li .list__link {
  color: white;
  font-size: 16px;
}
footer ul li .list__link .fa-utensils {
  font-size: 13px;
  margin-right: 7px;
}
footer ul li .list__link .fa-handshake-angle {
  font-size: 12px;
  margin-right: 3px;
}

* {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
}
main .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .localisation .localisation__form {
  padding-top: 15px;
  padding-bottom: 15px;
}
main .localisation .localisation__form input {
  border: none;
  background-color: #EAEAEA;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
main .localisation .localisation__form input:focus {
  outline: none;
}
main .localisation ::placeholder {
  color: black;
  font-weight: bold;
}
main .reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 57px;
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  main .reservation {
    margin-bottom: 30px;
    padding: 0;
  }
}
main .reservation__txt {
  text-align: center;
  margin-bottom: 25px;
}
main .reservation__txt h1 {
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  main .reservation__txt h1 {
    font-size: 41px;
  }
}
main .reservation__txt p {
  font-size: 17px;
}
main .reservation .btn-gradient {
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: opacity 400ms ease-out;
}
main .reservation .btn-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
}
main .fonctionnement {
  counter-reset: etapes;
}
@media screen and (min-width: 1024px) {
  main .fonctionnement {
    display: grid;
    place-items: center;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) and (max-width: 1100px) {
  main .fonctionnement {
    place-items: initial;
  }
}
main .fonctionnement_container {
  margin: 50px 20px;
}
main .fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 35px;
  list-style-type: none;
  padding-left: 4px;
  margin: 20px 0 0 0;
}
@media screen and (min-width: 1024px) {
  main .fonctionnement ol {
    flex-direction: row;
  }
}
main .fonctionnement ol li {
  position: relative;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px;
  font-weight: bold;
}
@media screen and (min-width: 1100px) {
  main .fonctionnement ol li {
    max-width: 333px;
    min-width: 333px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  main .fonctionnement ol li {
    width: 39%;
  }
}
main .fonctionnement ol li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(etapes);
  counter-increment: etapes;
  color: white;
  font-weight: normal;
  background-color: #9356DC;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: -12px;
}
main .fonctionnement ol li .fa-solid {
  font-size: 21px;
  margin-right: 23px;
  margin-left: 5px;
  color: grey;
}
main .fonctionnement ol li .fa-store {
  color: #9356DC;
}
main .restaurants {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  main .restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  main .restaurants .container {
    margin: 0 20px;
  }
}
main .restaurants .restaurants__title {
  margin-top: 45px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  main .restaurants .restaurants__title {
    margin-top: 30px;
  }
}
main .restaurants .restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 1024px) {
  main .restaurants .restaurants__container {
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
  }
}
main .restaurants .restaurants__container .restaurants__card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
@media screen and (min-width: 1024px) {
  main .restaurants .restaurants__container .restaurants__card {
    width: 47%;
  }
}
main .restaurants .restaurants__container .restaurants__card .new {
  cursor: pointer;
}
main .restaurants .restaurants__container .restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: 13px;
}
main .restaurants .restaurants__container .restaurants__card h3 {
  font-size: 18px;
  font-weight: bold;
}
main .restaurants .restaurants__container .restaurants__card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 65%;
  width: 100%;
}
main .restaurants .restaurants__container .restaurants__card .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  padding-left: 15px;
  padding-right: 25px;
}
main .restaurants .restaurants__container .restaurants__card .card-content .card-title {
  margin-bottom: 5px;
}

.loader {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  animation: loader 1s 2s ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}
@keyframes loader {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    transform: scale(-100);
  }
}
.loader__text {
  font-family: "shrikhand";
  font-size: 40px;
  color: #EAEAEA;
  animation: loaging-text 700ms infinite ease-in;
}
@keyframes loaging-text {
  0% {
    color: #EAEAEA;
  }
  50% {
    color: black;
  }
  100% {
    color: #EAEAEA;
  }
}

@keyframes heartbg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-animation {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkedmeal {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}
@keyframes iconcheck {
  from {
    transform: rotate(0turn) scale(0);
  }
  to {
    transform: rotate(1turn) scale(1);
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ul,
dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe,
hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

img {
  object-fit: cover;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #F6F6F6;
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.bc-lightgrey {
  background-color: #F6F6F6;
}

.bc-middlegrey {
  background-color: #EAEAEA;
}

.bc-darkgrey {
  background-color: #353535;
}

.bc-white {
  background-color: #FFFFFF;
}

.restaurants__card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
@media screen and (min-width: 1024px) {
  .restaurants__card {
    width: 490px;
  }
}
.restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: 13px;
}
.restaurants__card h3 {
  font-size: 18px;
  font-weight: bold;
}
.restaurants__card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 65%;
  width: 100%;
}
.restaurants__card .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  padding-left: 15px;
  padding-right: 25px;
}
.restaurants__card .card-content .card-title {
  margin-bottom: 5px;
}
.restaurants__card .card-content .fa-heart {
  font-size: 25px;
}

.reservation__btn {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 25px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: opacity 400ms ease-out;
}
.reservation__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
}

.command-btn {
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: opacity 400ms ease-out;
  font-weight: normal;
  padding: 16px 43px;
  cursor: pointer;
}
.command-btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
}

.card-heart {
  position: relative;
}
.card-heart .fa-heart {
  font-size: 25px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: -14px;
  right: 0px;
}
.card-heart .bg {
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  background: -webkit- linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-heart .bg:hover {
  animation: heartbg;
  opacity: 1;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: -135px;
}

header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
header .arrow-left {
  position: absolute;
  left: 10px;
  top: 20px;
}
header .arrow-left i {
  font-size: 24px;
  font-weight: bold;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav img {
  width: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
  }
}
footer h2 {
  font-family: "shrikhand";
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
footer ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
    gap: 10px;
  }
  footer ul .hand {
    margin-right: 30px;
  }
}
footer ul li {
  margin-bottom: 8px;
}
footer ul li .link__bold {
  font-weight: bold;
}
footer ul li .list__link {
  color: white;
  font-size: 16px;
}
footer ul li .list__link .fa-utensils {
  font-size: 13px;
  margin-right: 7px;
}
footer ul li .list__link .fa-handshake-angle {
  font-size: 12px;
  margin-right: 3px;
}

* {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
}
main .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .localisation .localisation__form {
  padding-top: 15px;
  padding-bottom: 15px;
}
main .localisation .localisation__form input {
  border: none;
  background-color: #EAEAEA;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
main .localisation .localisation__form input:focus {
  outline: none;
}
main .localisation ::placeholder {
  color: black;
  font-weight: bold;
}
main .reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 57px;
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  main .reservation {
    margin-bottom: 30px;
    padding: 0;
  }
}
main .reservation__txt {
  text-align: center;
  margin-bottom: 25px;
}
main .reservation__txt h1 {
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  main .reservation__txt h1 {
    font-size: 41px;
  }
}
main .reservation__txt p {
  font-size: 17px;
}
main .reservation .btn-gradient {
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: opacity 400ms ease-out;
}
main .reservation .btn-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
}
main .fonctionnement {
  counter-reset: etapes;
}
@media screen and (min-width: 1024px) {
  main .fonctionnement {
    display: grid;
    place-items: center;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) and (max-width: 1100px) {
  main .fonctionnement {
    place-items: initial;
  }
}
main .fonctionnement_container {
  margin: 50px 20px;
}
main .fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 35px;
  list-style-type: none;
  padding-left: 4px;
  margin: 20px 0 0 0;
}
@media screen and (min-width: 1024px) {
  main .fonctionnement ol {
    flex-direction: row;
  }
}
main .fonctionnement ol li {
  position: relative;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px;
  font-weight: bold;
}
@media screen and (min-width: 1100px) {
  main .fonctionnement ol li {
    max-width: 333px;
    min-width: 333px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  main .fonctionnement ol li {
    width: 39%;
  }
}
main .fonctionnement ol li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(etapes);
  counter-increment: etapes;
  color: white;
  font-weight: normal;
  background-color: #9356DC;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: -12px;
}
main .fonctionnement ol li .fa-solid {
  font-size: 21px;
  margin-right: 23px;
  margin-left: 5px;
  color: grey;
}
main .fonctionnement ol li .fa-store {
  color: #9356DC;
}
main .restaurants {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  main .restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  main .restaurants .container {
    margin: 0 20px;
  }
}
main .restaurants .restaurants__title {
  margin-top: 45px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  main .restaurants .restaurants__title {
    margin-top: 30px;
  }
}
main .restaurants .restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 1024px) {
  main .restaurants .restaurants__container {
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
  }
}
main .restaurants .restaurants__container .restaurants__card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  color: black;
}
@media screen and (min-width: 1024px) {
  main .restaurants .restaurants__container .restaurants__card {
    width: 47%;
  }
}
main .restaurants .restaurants__container .restaurants__card .new {
  cursor: pointer;
}
main .restaurants .restaurants__container .restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: 13px;
}
main .restaurants .restaurants__container .restaurants__card h3 {
  font-size: 18px;
  font-weight: bold;
}
main .restaurants .restaurants__container .restaurants__card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 65%;
  width: 100%;
}
main .restaurants .restaurants__container .restaurants__card .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  padding-left: 15px;
  padding-right: 25px;
}
main .restaurants .restaurants__container .restaurants__card .card-content .card-title {
  margin-bottom: 5px;
}

.loader {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  animation: loader 1s 2s ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}
@keyframes loader {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    transform: scale(-100);
  }
}
.loader__text {
  font-family: "shrikhand";
  font-size: 40px;
  color: #EAEAEA;
  animation: loaging-text 700ms infinite ease-in;
}
@keyframes loaging-text {
  0% {
    color: #EAEAEA;
  }
  50% {
    color: black;
  }
  100% {
    color: #EAEAEA;
  }
}

.restaurant-img {
  width: 100%;
  height: 275px;
}

.restaurant-menu {
  position: relative;
  top: -60px;
  border-radius: 50px 50px 0 0;
  margin-bottom: -60px;
}
@media screen and (min-width: 1024px) {
  .restaurant-menu {
    margin-right: 193px;
    margin-left: 193px;
    top: -30px;
    margin-bottom: -30px;
  }
}
.restaurant-menu .title-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 18px 42px 18px;
}
@media screen and (min-width: 1024px) {
  .restaurant-menu .title-restaurant {
    justify-content: center;
    gap: 50px;
  }
}
.restaurant-menu .title-restaurant .restaurant_title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: normal;
}
.restaurant-menu .restaurant-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 13px;
  margin-left: 13px;
}
@media screen and (min-width: 1024px) {
  .restaurant-menu .restaurant-page {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}
.restaurant-menu .restaurant-page .menu {
  display: flex;
  flex-direction: column;
  gap: 13px;
  animation: menu-animation 2000ms ease-in-out;
  animation-fill-mode: both;
  transform-origin: -10%;
}
@media screen and (min-width: 1024px) {
  .restaurant-menu .restaurant-page .menu {
    width: 60%;
  }
}
.restaurant-menu .restaurant-page .menu__title h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.restaurant-menu .restaurant-page .menu__title hr {
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
}
.restaurant-menu .restaurant-page .menu .menu__button {
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1024px) {
  .restaurant-menu .restaurant-page .menu .menu__button {
    min-width: 330px;
  }
}
.restaurant-menu .restaurant-page .menu .menu__button .button__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .restaurant-page .menu .menu__button .button__content h3 {
  font-size: 17px;
}
.restaurant-menu .restaurant-page .menu .menu__button .content__description {
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-menu .restaurant-page .menu .menu__button .content__description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .restaurant-page .menu .menu__button .content__description span {
  font-weight: bold;
}
.restaurant-menu .restaurant-page .menu .menu__button .checked {
  background-color: #99E2D0;
  font-size: 18px;
  color: white;
  height: 100%;
  width: 60px;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.restaurant-menu .restaurant-page .menu .menu__button .checked i {
  display: none;
}
.restaurant-menu .restaurant-page .menu .menu__button:hover .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: checkedmeal 500ms;
  transform-origin: 100%;
}
.restaurant-menu .restaurant-page .menu .menu__button:hover .checked i {
  display: block;
  animation: iconcheck 500ms ease-in-out;
}
.restaurant-menu .restaurant-page .delay1 {
  animation-delay: 0s;
}
.restaurant-menu .restaurant-page .delay2 {
  animation-delay: 1s;
}
.restaurant-menu .restaurant-page .delay3 {
  animation-delay: 2s;
}
.restaurant-menu .restaurant-page .container-command-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.restaurant-menu .restaurant-page .container-command-btn .command {
  font-weight: normal;
  padding: 16px 43px;
}

/*# sourceMappingURL=main.css.map */
