
// background colors
$white-bc:#FFFFFF;
$lightgrey-bc:#F6F6F6;
$middlegrey-bc:#EAEAEA;
$darkgrey-bc:#353535;

// other colors
$primaire : #9356DC;
$secondaire :#FF79DA;
$tertiaire : #99E2D0;

// Gradient
$gradient-base:linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
$gradient-heart:linear-gradient(to bottom, #9356DC -14%, #FF79DA 128%);
